<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--LOGO E TITOLO-->
    <header>
        <img src="./img/Logo.png" class="logo" alt="logo">
        <h1 class="tobo">Toboolist</h1>
    </header>
    <!--lista-->
    <main>
        <div class="container" id="app">
            <div class="testo">
                <div id="quadro">
                    <input type="text" v-model="newTodoText" @keyup.enter="addTask">
                    <button class="but blu" @click="addTask">Add Task</button>
                </div>
            </div>
        </div>

        <div class="container" id="radiusb">
            <div class="testo">
                <div id="secondoq">
                    <h1><span class="freccia">&#9660;</span> New Task</h1>
                    <p v-for="(todo, index) in todos" :key="`todo-${index}`" @click="toggleDone(index)">
                        <span :class="{completed: todo.done}">
                            {{ index }} - {{ todo.text }}
                        </span>
                        <button class="edi" @click="removeTask(index)">x</button>
                        <span></span> 
                    </p>
                </div>
            </div>
        </div>
    </main>
    
        <!-- javascript (vue) -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- javascript -->
        <script src="js/main.js"></script>
    
</body>
</html>